{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="account_form_container login_form">
        <h1>Login</h1>

        <form action="{{ path('app_login') }}" method="post">
            <div class="form_container">
                <div class="form_row">
                    <div>
                        <label for="username">Email :</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                </div>

                <div class="form_row">
                    <div>
                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="_password">
                    </div>
                </div>

                {# <input type="hidden" name="_target_path" value="/"> #}
            </div>
            <button type="submit" class="btn">connexion</button>
        </form>
{% endblock %}