{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner_presentation">
        <h1>Bienvenue sur le meilleur convertisseur PDF en ligne</h1>
        <a class="btn primary" href="{{ path('app_generate_pdf') }}">Générez un PDF</a>
    </div>
    <div class="home-step">
        <p>
            Ce site vous permet de convertir n'importe quelle page HTML en un fichier PDF.
        </p>
        <ul class="step_listing">
            <li><span class="step-number">1</span>Créez un compte ou connectez-vous à votre compte existant.</li>
            <li><span class="step-number">2</span>Sélectionnez le fichier html, ou bien le lien vers le site de votre choix que vous souhaitez convertir.</li>
            <li><span class="step-number">3</span>Notre créateur de PDF en ligne convertira votre document en PDF en quelques secondes.</li>
            <li><span class="step-number">4</span>Votre document sera prêt à être téléchargé immédiatement et disponible dans votre compte une fois le téléchargement terminé.</li>
        </ul>
    </div>
{% endblock %}